body {
  color: forestgreen;
  text-align: left;
  font-size: 16px;
  font-family: Arial;  
  margin: 0;
  padding: 0;
}

#container{
  width: 70%;
  padding: 0;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
}

#container h1 {
  font-size: 20px;
}

#cabecera {
  font-size: 24px;
  background-color: greenyellow;
  background: red;
  margin: 0;
  padding: 0.5em;
  font-weight: bold;
}

#post {
  padding: 1em;
}